{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}

<div class="section intro-edu">
    <div class="container">
        <div class="intro-edu-wrapper">
            <div class="row">
                <div class="col-md-5"><img src="static/common/img/Akash1.jpg" alt="" width="300" height="750"
                        class="intro-image fadeInLeft  wow  animated" style="visibility: visible;"></div>
                <div class="col-md-7">
                    <div class="intro-title">About:- <b>AKASH SINGH</b> </div>
                    <hr><hr>
                    <div class="intro-content">
                        <table>
                            <tbody>
                                <tr>
                                    <th class="item-key">Gender</th>
                                    <td>MALE</td>
                                </tr>
                                <tr>
                                    <th class="item-key">Location</th>
                                    <td><span class="locality"><a
                                                href="https://www.google.co.in/maps/place/C.V.+Raman+Boys+Hostel/@23.2845964,77.4602323,112m/data=!3m1!1e3!4m12!1m6!3m5!1s0x397c698d96e959d7:0x9bd1955bed02fbc6!2sC.V.+Raman+Boys+Hostel!8m2!3d23.2843888!4d77.4600418!3m4!1s0x397c698d96e959d7:0x9bd1955bed02fbc6!8m2!3d23.2843888!4d77.4600418?hl=en">Bhopal</a>,</span>
                                        <span class="region"><a
                                                href="https://www.google.co.in/maps/place/Madhya+Pradesh/@23.9576929,76.1787015,806024m/data=!3m2!1e3!4b1!4m5!3m4!1s0x39667381d35aea05:0xe0106b0d4e701c1e!8m2!3d22.9734229!4d78.6568942?hl=en">Madhya
                                                Pradesh</a>,</span>
                                        <span class="country-name"><a
                                                href="https://www.google.co.in/maps/place/India/@20.0114083,64.4398422,6630095m/data=!3m2!1e3!4b1!4m5!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288?hl=en">India</a></span></td>
                                </tr>
                                <tr>
                                    <th class="item-key">Introduction</th>
                                    <td>I am AKASH SINGH originally from Uttar Pradesh.
                                        I live in Bhopal and here I am persuing my B.Tech in computer science.
                                        I am blogging because i love to write and share my knowledge and also it helps
                                        so much in study.</td>
                                </tr>
                                <tr>
                                    <th class="item-key">Interests</th>
                                    <td><span class="favorites"><a
                                                href="#">Reading Books,
                                            </a> <a href="">
                                            </a> <a href="">
                                            </a></span></td>
                                </tr>

                                {% comment %} <tr>
                                    <th class="item-key">Favourite Films</th>
                                    <td><span class="favorites"><a
                                                href="/profile-find.g?t=m&amp;q=Inception">Inception,</a> <a
                                                href="/profile-find.g?t=m&amp;q=Shawshank+Redemption">Shawshank
                                                Redemption,</a> <a
                                                href="/profile-find.g?t=m&amp;q=Fast+and+Furious+series">Fast and
                                                Furious series</a></span></td>
                                </tr> {% endcomment %}
                                {% comment %} <tr>
                                    <th class="item-key">Favourite Music</th>
                                    <td><span class="favorites"><a
                                                href="/profile-find.g?t=s&amp;q=Heartattack+-+by+Enrique+Lglesias">Heartattack
                                                - by Enrique Lglesias</a></span></td>
                                </tr> {% endcomment %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}