absl-py==0.9.0
altgraph==0.16.1
APScheduler==3.6.3
asgiref==3.2.10
astunparse==1.6.3
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.8.1
bleach==3.1.5
boto3==1.14.39
botocore==1.17.39
bottle==0.12.18
cachetools==4.1.0
certifi==2019.11.28
cffi==1.14.4
chardet==3.0.4
clarifai==2.6.2
click==7.1.2
colorama==0.4.3
configparser==5.0.1
covid==2.4.0
cryptography==3.3.1
csv-convert==0.0.1
csv-converter==0.0.4
csv-detective==0.2.1
curser==1.0.1
cx-Freeze==6.1
cycler==0.10.0
DateTime==4.3
decorator==4.4.1
defusedxml==0.6.0
dispatch==0.7.7
Django==3.1
djangorestframework==3.8.2
docopt==0.6.2
docutils==0.15.2
drive==0.2.2
EasyProcess==0.2.7
EasyTkinter==1.1.0
emoji==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.2
future==0.18.2
gast==0.3.3
google==3.0.0
google-api-python-client==1.5.3
google-auth==1.14.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
grpcio==1.28.1
gTTS==2.0.4
gTTS-token==1.1.3
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.9.2
httpcore==0.9.1
httplib2==0.18.0
httpx==0.13.3
hyperframe==5.2.0
idna==2.8
imageai==2.1.5
imutils==0.5.3
inflect==4.0.0
instapy==0.6.12
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jaraco.itertools==5.0.0
jdcal==1.4.1
jedi==0.17.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
jsonfield==2.0.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kaggle==1.5.6
Keras==2.4.3
Keras-Preprocessing==1.1.0
keyboard==0.13.5
kiwisolver==1.1.0
langdetect==1.0.8
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
MeaningCloud-python==2.0.0
microphone==0.3.1
mistune==0.8.4
more-itertools==8.1.0
MouseInfo==0.1.2
mysql-connector==2.2.9
mysql-connector-python==8.0.18
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.7
neat==0.4.1
nltk==3.4.5
notebook==6.0.3
numpy==1.19.2
oauth2client==3.0.0
oauthlib==3.1.0
opencv-contrib-python==4.2.0.34
opencv-python==4.3.0.36
openpyxl==2.4.0
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.2.1
playsound==1.2.2
pluginmanager==0.4.1
plyer==2.0.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.11.1
psutil==5.6.7
pyasn1==0.1.9
pyasn1-modules==0.0.8
PyAudio==0.2.11
PyAutoGUI==0.9.48
pycparser==2.20
pydantic==1.7.3
pydub==0.23.1
pyfiglet==0.8.post1
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.7.4
PyInstaller==3.5
PyMsgBox==1.0.7
PyMySQL==0.9.3
PyMysqlDB==0.0.2
pynput==1.6.8
pyotp==2.3.0
pyparsing==2.4.5
pyperclip==1.7.0
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.26
PySimpleGUI==4.18.2
pytesseract==0.3.6
python-dateutil==2.8.1
python-magic==0.4.12
python-slugify==4.0.1
python-telegram-bot==13.1
pyttsx3==2.71
PyTweening==1.0.3
pytz==2019.3
PyVirtualDisplay==0.2.4
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==18.1.1
qrcode==6.1
qtconsole==4.7.5
QtPy==1.9.0
regex==2020.11.13
requests==2.22.0
requests-oauthlib==1.3.0
rfc3986==1.4.0
rsa==3.4.2
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.5.0
secure-smtplib==0.1.1
selenium==3.141.0
Send2Trash==1.5.0
simplejson==3.8.2
six==1.15.0
sklearn==0.0
sniffio==1.1.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
sqlparse==0.3.0
style==1.1.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
typer==0.3.2
tzlocal==2.1
update==0.0.1
uritemplate==0.6
urllib2-file==0.2.1
urllib3==1.24.3
validators==0.14.1
vexmessage==0.4.0
wcwidth==0.2.5
webbrowserdownloader==0.1
webdriverdownloader==1.1.0.3
webencodings==0.5.1
WebOb==1.8.5
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
win10toast==0.9
WMI==1.4.9
wolframalpha==3.0.1
wrapt==1.12.1
wxPython==4.1.0
xlrd==1.2.0
xmltodict==0.12.0
yml==0.0.1
zope.interface==4.7.1
