{% extends 'base.html' %}

{% block title %} Blog-Post {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %}
{% load humanize %}
{% load extras %}

<div class="container my-3">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p style="color: red;" class="blog-post-meta"><b>{{post.timeStamp}}</b> <br><strong>By:</strong> <a
                        href="#">{{post.author}}</a></p>
        <hr>
        <p>{{post.content}}</p>
</div>
<hr>
<div class="container">
        <div class="my-2">
                <h2>Comments ({{comments.count}}):</h2>
                {% if user.is_authenticated %}
                <form action="/blog/postComment" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                                <label for="exampleInputEmail1"><b>Post Comments:</b></label>
                                <input type="text" class="form-control" name="comment"
                                        placeholder="Enter your comment here">
                        </div>
                        <input type="hidden" name="postSno" value="{{post.sno}}">
                        <input type="hidden" name="parentSno" value="">
                        <button type="submit" class="btn btn-danger">Submit</button>
                </form>

                {% else %}
                <div class="my-4">
                        <h2><label for="inputAddress">You must be logged in to post a comment!</label></h2>
                        <button type="submit" class="btn btn-danger my-2 my-sm-0 ml-2" data-toggle="modal"
                                data-target="#loginModal">Login Here</button>
                        <button type="submit" class="btn btn-danger my-2 my-sm-0 ml-2" data-toggle="modal"
                                data-target="#signupModal">Signup Here</button>
                </div>
                <hr>

                {% endif %}


        </div>

        {% for comment in comments %}
        <div class="row my-3">
                <div class="col-md-1">
                        <img class="userPic rounded-circle w-100 p-2" src="/static/common/img/user.png">
                </div>
                <div class="col-md-11">
                        <b>{{comment.user.username}}</b> <span class="badge badge-secondary">
                                {{comment.timeStamp|naturaltime}} </span>
                        <div> {{comment.comment}} </div>
                        <div class="reply mx-0">
                                {% if user.is_authenticated %}
                                <button class="btn btn-sm btn-danger" type="button" data-toggle="collapse"
                                        data-target="#replyBox{{comment.sno}}" aria-expanded="false"
                                        aria-controls="replyBox{{comment.sno}}">
                                        Reply
                                </button>
                                <div class="collapse" id="replyBox{{comment.sno}}">
                                        <div class="card card-body my-2">
                                                <form action="/blog/postComment" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                                <label for="comment"><b>Post
                                                                                Reply:</b></label>
                                                                <input type="text" class="form-control" name="comment"
                                                                        placeholder="Enter your reply here">
                                                                <input type="hidden" name="parentSno"
                                                                        value="{{comment.sno}}">
                                                        </div>
                                                        <input type="hidden" name="postSno" value="{{post.sno}}">
                                                        <button type="submit" class="btn btn-danger">Submit</button>
                                                </form>
                                        </div>
                                </div>
                                {% else %}
                                <button class="btn btn-sm btn-danger" type="button" data-toggle="collapse"
                                        data-target="#replyBox{{comment.sno}}" aria-expanded="false"
                                        aria-controls="replyBox{{comment.sno}}" disabled>
                                        Login to Reply
                                </button>
                                {% endif %}
                                <div class="replies my-2">
                                        {% for reply in replyDict|get_val:comment.sno %}
                                        <div class="row my-2">
                                                <div class="col-md-1">
                                                        <img class="userPic rounded-circle w-100 p-2"
                                                                src="/static/common/img/user.png">
                                                </div>
                                                <div class="col-md-11">
                                                        {% comment %} {{reply.comment}} {% endcomment %}
                                                        <b>{{reply.user.username}}</b> <span
                                                                class="badge badge-secondary">
                                                                {{reply.timeStamp|naturaltime}} </span>
                                                        <div> {{reply.comment}} </div>
                                                </div>
                                                <br>
                                        </div>
                                        {% endfor %}
                                </div>
                        </div>
                </div>
        </div>
        {% endfor %}
</div>

{% endblock body %}