{% extends 'base.html' %}

{% block title %} Blog-Post {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %}
<div class="container my-3">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p style="color: red;" class="blog-post-meta"><b>{{post.timeStamp}}</b> <br><strong>By:</strong> <a
                        href="#">{{post.author}}</a></p>
        <hr>
        <p>{{post.content}}</p>
</div>
<hr>
<div class="container">
        <h2>Comments:</h2>
        <form action="/blog/postComment" method="post">
                {% csrf_token %}
                <div class="form-group">
                        <label for="exampleInputEmail1"><b>Post Comments:</b></label>
                        <input type="text" class="form-control" name="comment" placeholder="Enter your comment here">
                </div>
                <input type="hidden" name="postSno" value="{{post.sno}}">
                <button type="submit" class="btn btn-danger">Submit</button>
        </form>

        {% for comment in comments %}
        <div class="row my-3">
                <div class="col-md-1">
                <img class="userPic rounded-circle w-100 p-2" src="/static/common/img/user.png">
                </div>
                <div class="col-md-11">
                <b>{{comment.user.username}}</b> at   {{comment.timeStamp}}
                <div> {{comment.comment}} </div>
                </div>
        </div>
        {% endfor %}
</div>

{% endblock body %}