<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta http-equiv= -->
    <title>navbar</title>
    <link rel="stylesheet" href="css/baseStyle.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/common/img/photo.jpg" alt="">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">About</a></li>
            <li class="item"><a href="#">Blog</a></li>
            <li class="item"><a href="#">Contact Me!</a></li>
        </ul>
    </nav>

    
</body>
</html>